h1 {
  color: var(--color-green);
  font-size: 2.5em;
  font-weight: 400;
  margin-top: 1rem;
  /* position: absolute; */
  top: 0.5rem;
}

.paragraph {
  font-size: 1.4rem;
  color: var(--color-grey);
  opacity: 0.5;
  text-transform: uppercase;
}
.starter-screen {
  width: 60%;
  max-width: 93rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}

.player-pick-container {
  position: relative;
  width: 50%;
  height: 20rem;
  margin-top: 4rem;
  background-color: var(--color-darkBlue);
  border-radius: 2rem;
  box-shadow: 0 0.8rem 0 #10212a;
  display: inherit;
  flex-direction: inherit;
  justify-content: space-evenly;
  align-items: center;
}

.marks-container {
  width: 90%;
  height: 5rem;
  background-color: var(--color-black);
  display: inherit;
  justify-content: center;
  align-items: center;
  gap: 30%;
  padding: 4rem 0;
  border-radius: 1rem;
}

.mark {
  width: 31px;
  height: 31px;
  z-index: 3;
}

.cta-btn {
  cursor: pointer;
  height: 67px;
  width: 50%;
  border: none;
  margin-top: 10rem;
  text-transform: uppercase;
  background-color: var(--color-orange);
  padding: 0 30px 8px;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.25px;
  line-height: 2.5rem;
  color: var(--color-black);
  box-shadow: inset 0 -8px 0 #cc8b13;
  border-radius: 2rem;
}

.cta-btn:hover {
  background-color: var(--color-lightOrange);
}

.hidden {
  display: none;
}

.marks-choice {
  position: absolute;
  width: 45%;
  height: 70%;
  border-radius: 1rem;
  background-color: var(--color-grey);
  transition: all 0.3s ease-in-out;
}

.x-mark {
  transform: translateX(-50%);
}

.y-mark {
  transform: translateX(50%);
}

.mark-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  width: 45%;
  height: 70%;
  background-color: transparent;
}

.mark-wrapper-o {
  right: 5%;
}

.mark-wrapper-x {
  left: 5%;
}

.slide-out {
  transform: translateX(-200%);
}
